button {
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid $wapp-green;
  cursor: pointer;
  background: $wapp-green;
  font-size: 20px;
  outline: none;
  color: $white;
  width: 100%;
  height: 60px;

  &:hover {
    color: $white;
    background: $electric-green;
  }
}
