.section-title {
  background: none;
  border: none;
  border-bottom: 1px solid $wapp-green;
  padding: 0;
  margin: 10px 0;

  h2 {
    background: none;
    padding: 10px 0;
    background: 0;
    margin-bottom: 0;
    text-align: left;
  }
}

.canvas {
  z-index: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  padding-bottom: 60px;

  &.hidden {
    opacity: 0;
    height: 0;
    transition: opacity, height;
    transition-delay: .3s;
    transition-duration: .3s;
  }

  &.showing {
    opacity: 1;
    height: auto;
    transition: opacity, height;
    transition-delay: .3s;
    transition-duration: .3s;
  }

  h2 {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid $verylight-grey;
    margin-bottom: 0;
    background: $white;
  }

  .widget {
    background: $white;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 0;
    border: none;
    overflow: auto;
    border: 1px solid;
    border-color: $border-top $border-sides $border-bottom;
    border-left: 1px solid $wapp-green;
    margin: 20px;
    box-shadow: 0px 2px 11px -5px rgba(0, 0, 0, 0.75);

    @media (min-width: 900px) {
        padding: 30px;
        margin: 20px 0;
    }

    button {
      float: right;
    }

    .svg + form {
      margin: 10px 0 0 0;
    }

    .widget-extra-metric {
      text-align: right;

      p {
        font-size: 1em;
        margin: 0;

        &:first-child {
          margin: 10px 0 0 0;
        }

        .summary-metric {
          margin-left: 5px;
          font-weight: 700;
        }
      }
    }

    form {
      input {
        @media (min-width: 900px) {
          width: 300px;
          float: right;
        }
      }
    }
  }

  .section-title {
    margin: 10px 20px;

    @media (min-width: 900px) {
      margin: 10px 0;
    }

    h2 {
      padding: 10px 0;
      background: none;
    }
  }
}

.chart-cell {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid $verylight-grey;
  display: inline-block;

  &:last-child {
    border-bottom: none;
  }

  .metric-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
  }

  @media (min-width: 900px) {
    width: 50%;
    float: left;
    border-bottom: none;
    padding: 0;

    &:last-child {
      padding-left: 30px;
      box-sizing: border-box;
      border-left: 1px solid $verylight-grey;
    }
  }
}

/* Table for metrics
/* - - - - - - - - - - - - - - - - - - - - - - - - - */


.data-table {
  margin: 0 auto;
  padding: 0;

  .row {
    box-sizing: border-box;
    width: 100%;
    padding: 26px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    float: left;
    border-bottom: 1px solid $lightish-grey;

    .cell {
      width: 35%;
      text-align: right;

      &.metric {
        font-size: 18px;
        font-weight: 400;
      }

      .svg {
        text-align: center;
      }
    }

    .cell-chart {
      width: 100%;

      .svg {
        border: none;
      }
    }

    &:first-child {
      color: $dark-grey;
      font-size: 16px;
      font-weight: bolder;

      .metric {
        font-size: 15px;
        font-weight: 400;
      }
    }

    &:last-child {
      border-bottom: none;
    }

    .metric-label {
      width: 100%;
      font-size: 14px;
      text-align: left;
      font-weight: 400;
      margin-bottom: 20px;
    }

    @media (min-width: 900px) {
      width: 50%;
      border-bottom: none;
    }
  }
}

/* Big button
/* -------------------------------------------------- */

.wide-button {
  margin: 20px;

  button {
    width: 100%;
  }
}
