.canvas {
  z-index: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 20px 0 20px;

  &.hidden {
    opacity: 0;
    height: 0;
    transition: opacity, height;
    transition-delay: .3s;
    transition-duration: .3s;
  }

  &.showing {
    opacity: 1;
    height: auto;
    transition: opacity, height;
    transition-delay: .3s;
    transition-duration: .3s;
  }
}


/* Legend Widget
/* - - - - - - - - - - - - - - - - - - - - - - - - - */

.legend {
  text-align: left;
  background: $white;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid $verylight-grey;
  box-shadow: 0px 4px 10px -8px rgba(0,0,0,.75);
  min-height: 40px;
  position: fixed;
  left: 20px;
  bottom: 20px;

  .legend-label {
    font-family: 'Roboto';
    text-transform: uppercase;
  }

  .legend-col {
    width: 10px;
    height: 10px;
    margin: 0 5px 0 40px;

    &:first-child {
      margin-left: 0;
    }

    &.authorA {
      background: $colorA;
    }

    &.authorB {
      background: $colorB;
    }
  }

  .legend-label, .legend-col {
    display: inline-block;
  }
}


/* Table for metrics
/* - - - - - - - - - - - - - - - - - - - - - - - - - */


.data-table {
  margin: 0 auto;
  padding: 0;

  .row {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 26px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    border-bottom: 1px solid $lightish-grey;

    .cell {
      width: 35%;
      text-align: right;

      &.metric {
        font-size: 18px;
        font-weight: 400;
      }
    }

    .cell-chart {
      width: 70%;

      .svg {
        border: none;
      }
    }

    &:first-child {
      color: $dark-grey;
      font-size: 16px;
      font-weight: bolder;

      .metric {
        font-size: 15px;
        font-weight: 400;
      }
    }

    &:last-child {
      border-bottom: none;
    }

    .metric-label {
      width: 30%;
      font-size: 15px;
      text-align: left;
      font-weight: 400;
    }
  }
}

/* SVG Styling
/* - - - - - - - - - - - - - - - - - - - - - - - - - */

svg {
  //border: 1px solid rgba($dark-green, 0.15);
  //border-radius: 5px;

  .time-label {
    font-family: 'Roboto';
    font-size: 11px;
    fill: $mid-grey;
  }

  .tick {
    stroke: $mid-grey;
    stroke-width: 1px;
  }

  .axis-g {
    .domain {
      stroke: $light-grey;
      stroke-dasharray: 2px 5px;
    }

    line {
      stroke: $mid-grey;
    }

    text {
      stroke: none;
      fill: $mid-grey;
    }
  }

  /*
  * -- Response Times Histogram ------ */

  &.histoRT-svg {
    .label {
      font-size: 10px;
      font-weight: 300;
      text-anchor: middle;
    }
  }

  &.dailyRT-svg {
    rect {
      &.respLine {
        stroke: none;
      }
    }

    path {
      &.diffLine {
        stroke-width: 2px;
        fill: none;
      }
    }
  }
}

.svg {
  overflow: scroll;
  border: 1px solid $border;

  svg {
    border: none;
  }
}
