$wapp-green: rgb(97, 210, 106);
$mess-green: rgb(220, 248, 198);
$dark-green: rgb(0, 134, 117);
$wapp-blue: rgb(218, 240, 250);

$warn-pink: rgb(254, 117, 113);

$dark-grey: #232323;
$mid-grey: #888888;
$lightish-grey: #c0c0c0;
$verylight-grey: #efefef;
$superlight-grey: #f8f8f8;
$white: #fff;

// Gradient
$electric-green: #78dc3a;
$skyblue: #24d8cd;
