form {
  input, textarea {
    width: 100%;
    outline: none;
    border: 1px solid $border;
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    color: $mid-grey;
  }

  input {
    margin: 0;
  }

  textarea {
    margin: 10px 0;
    resize: none;
  }

  input:focus, textarea:focus {
    border-color: $wapp-green;
    box-shadow: 0 0 3px $wapp-green;
  }

  .date-selector {
    select {
      display: block;
      width: 100%;
      max-width: 400px;
      height: 40px;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 2px 10px;
      background:$white url(../assets/ddarrow.png) no-repeat right 15px;
      border: solid 1px $wapp-green;
      font-size: 12px;
      font-weight: 300;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
}
