header {
  height: 84px;
  background: $dark-green;
  color: white;
  text-transform: uppercase;
  border-bottom: 1px solid $lightish-grey;

  a {
    margin: 20px;
    height: 20px;
    line-height: 20px;
    float: left;
    background: none;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    color: $wapp-green;

    &.view {
      float: right;
    }

    &:hover {
      color: $wapp-green;
    }
  }
}
