header {
  height: 60px;
  background: $white;
  color: white;
  text-transform: capitalize;
  border-bottom: 1px solid $wapp-green;

  a {
    margin: 10px;
    height: 20px;
    line-height: 20px;
    background: none;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    color: $wapp-green;
    display: inline-block;

    &.view {
      float: right;
    }

    &:hover {
      color: $dark-green;
    }
  }
}
