header {
  height: 60px;
  background: $white;
  color: white;
  text-transform: capitalize;
  border-bottom: 1px solid $wapp-green;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  @media (min-width: 900px) {
    position: absolute;
  }

  a {
    margin: 10px;
    height: 20px;
    line-height: 20px;
    background: none;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    color: $wapp-green;
    display: inline-block;

    &.view {
      float: right;
    }

    &:hover {
      color: $dark-green;
    }
  }

  span {
    float: right;
    margin: 10px;
    padding: 10px;
    height: 20px;
    line-height: 20px;
    color: $wapp-green;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
  }
}
