/* SVG Styling
/* - - - - - - - - - - - - - - - - - - - - - - - - - */

svg {
  //border: 1px solid rgba($dark-green, 0.15);
  //border-radius: 5px;

  .time-label {
    font-family: 'Roboto';
    font-size: 11px;
    fill: $mid-grey;
  }

  .tick {
    stroke: $mid-grey;
    stroke-width: 1px;
  }

  .axis-g, .axisRT-g {
    .domain {
      stroke: $light-grey;
      stroke-dasharray: 2px 5px;
    }

    line {
      stroke: $mid-grey;
    }

    text {
      stroke: none;
      fill: $mid-grey;
    }
  }

  /*
  * -- Time of Day ------ */
  &.timeOfDay-svg {
    .bubble {
      cursor: pointer;
    }

    text {
      font-size: 10px;
      font-family: 'Lato';
    }
  }


  /*
  * -- Response Times Histogram ------ */

  &.histoRT-svg {
    .label {
      font-size: 12px;
      font-weight: 300;
      text-anchor: end;
    }

    .barsHistA, .barsHistB, .barsHistTop {
      cursor: pointer;
    }
  }

  &.dailyRT-svg {
    rect {
      &.respLine {
        stroke: none;
      }
    }

    path {
      &.diffLine {
        stroke-width: 2px;
        fill: none;
      }
    }
  }
}

.svg {
  overflow: scroll;

  svg {
    border: none;
  }
}
