@import 'colors';
@import 'button';
@import 'footer';
@import 'header';
@import 'canvas';
@import 'summary';
@import 'svg';
@import 'tooltip';
@import 'form';
@import 'landing';

body {
  position: absolute;
  overflow: auto;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  background: $superlight-grey;
  color: $dark-grey;
  font-family: 'Lato';
  font-size: 14px;
  font-kerning: auto;
  line-height: 20px;
  font-weight: 300;

  @media (min-width: 800px) {
    line-height: 1.5em;
  }
}

html, body {
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
}

.page-wrap {
  width: 100%;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding-top: 80px;
  margin-bottom: -60px;

  &:after {
    content: "";
    display: block;
    height: 60px;
  }

  @media (min-width: 800px) {
      width: 740px;
      padding: 0;
      padding-top: 80px;
  }

  @media (min-width: 1100px) {
      width: 1100px;
      padding: 0;
      padding-top: 80px;

      .summary {
        width: 320px;
        float: left;
        display: inline-block;
      }

      .canvas {
        width: 740px;
        margin: 20px 0 0 10px;
        display: inline-block;
      }
  }
}

.widget {
  width: 100%;
  background: $white;
  border: 1px solid;
  border-color: $border-top $border-sides $border-bottom;
  border-left: 1px solid $wapp-green;
  padding: 30px;
  margin: 0 auto;
  overflow: auto;
  box-sizing: border-box;
  box-shadow: 0px 2px 11px -5px rgba(0, 0, 0, 0.75);

  @media (min-width: 800px) {
    width: 760px;
  }
}

.notification {
  background: $warn-pink !important;
  color: white;
  padding: 20px;
  text-align: center;

  &.hidden {
    display: none;
  }
}

h1, h2, h3 {
  margin-top: 0;
  line-height: 1.2em;
}

h1 {
  font-size: 24px;
  text-align: center;
  text-transform: capitalize;

  @media (min-width: 800px) {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

h2 {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

h3 {
  font-weight: 400;
}

a {
  color: $wapp-green;
  text-decoration: none;

  &:hover {
    color: $electric-green;
    text-decoration: none;
  }
}
