@import 'colors';
@import 'button';
@import 'footer';
@import 'header';
@import 'canvas';

body {
  position: absolute;
  overflow: auto;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;

  background: $verylight-grey;
  background-image: url('background.png');
  background-repeat: repeat;
  background-size: 366.5px 666px;

  color: $dark-grey;
  font-family: 'Roboto';
  font-size: 14px;
  font-kerning: auto;
  line-height: 20px;

  @media (min-width: 900px) {
    line-height: 22px;
  }
}

h1, h2, h3 {
  margin-top: 0;
  line-height: 1.2em;
}

h1 {
  font-size: 24px;
  text-align: center;
  text-transform: capitalize;

  @media (min-width: 900px) {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

h2 {
  font-size: 22px;
  font-weight: lighter;
}

h3 {
  font-weight: lighter;
}

.page-wrap {
  width: 100%;
  box-sizing: border-box;
  min-height: 1000px;
  margin: 0 auto;

  @media (min-width: 900px) {
      width: 800px;
      padding: 0;
  }

  .widget-title {
    margin-bottom: 20px;
    text-align:center;

    p {
      background: $wapp-blue;
      border-color: #e5e6e9 #dfe0e4 #d0d1d5;
      box-shadow: 0px 5px 5px -7px rgba(0,0,0,.75);
      border-radius: 10px;
      width: 150px;
      margin: 0 auto;
      text-transform: uppercase;
      font-size: 14px;
      padding: 5px;
      font-weight: lighter;
    }
  }

  .widget {
    background: $white;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px -8px rgba(0,0,0,.75);
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 10px;
    overflow: auto;

    &::after {
      position: relative;
      float: right;
      margin-right: -40px;
      margin-top: -40px;
    }

    &:nth-child(even){
      background:$mess-green;
    }

    &:nth-child(odd){
      background:$white;
    }

    button {
      float: right;
    }

    .svg + form {
      margin: 10px 0 0 0;
    }
  }

  .notification {
    background: $warn-pink !important;
    min-height: 60px;
    color: white;
    text-align: center;

    &.hidden {
      display: none;
    }
  }

  .form-container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 20px 0 20px;
    transition: width 2s, padding 2s;
    top: 80px;
    opacity: 1;
    transition: opacity, height .3s ease-in-out;

    &.hidden {
      opacity: 0;
      height: 0;
      transition: opacity .3s ease-in-out;
      transition-delay: height .3s;
      transition-duration: height 0;
    }
  }
}

form {
  input, textarea {
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid $verylight-grey;
    padding: 10px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: $mid-grey;
  }

  input {
    margin: 0;
  }

  textarea {
    margin: 10px 0;
  }

  input:focus, textarea:focus {
    border-color: $wapp-green;
    box-shadow: 0 0 10px $wapp-green;
  }
}
