body {
  padding: 0;
  margin: 0;
  background: #efefef;
  color: #575859;
  font-size: 16px; }

h1, h2, h3 {
  font-family: 'Merriweather'; }

h2 {
  font-size: 30px;
  text-align: center; }

header {
  height: 84px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: bold;
  background: #2cb53f;
  background: linear-gradient(-30deg, #78dc3a, #24d8cd);
  color: white;
  box-shadow: 0px 3px 5px #dddddd; }
  header a {
    margin: 20px;
    height: 20px;
    float: left;
    background: none;
    border-radius: 3px;
    border: 2px solid #fff;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    padding: 10px;
    cursor: pointer;
    color: white; }
    header a.view {
      float: right; }
    header a:hover {
      color: #24d8cd;
      background: #fff; }

.page-wrap {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto; }
  @media (min-width: 900px) {
    .page-wrap {
      width: 800px;
      padding: 0; } }
  .page-wrap .widget {
    background: #fff;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 6px -8px rgba(0, 0, 0, 0.75);
    min-height: 240px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 10px; }
    .page-wrap .widget::after {
      position: relative;
      float: right;
      margin-right: -40px;
      margin-top: -40px; }
    .page-wrap .widget:nth-child(even) {
      background: #dcf8c6; }
      .page-wrap .widget:nth-child(even)::after {
        content: url("../bubbletic2.png"); }
    .page-wrap .widget:nth-child(odd) {
      background: #fff; }
      .page-wrap .widget:nth-child(odd)::after {
        transform: scaleX(-1);
        content: url("../bubbletic.png");
        float: left;
        margin-left: -40px; }
  .page-wrap .form-container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 20px;
    transition: width 2s, padding 2s;
    top: 80px;
    padding-top: 20px;
    opacity: 1;
    transition: opacity .3s ease-in-out; }
    .page-wrap .form-container.hidden {
      opacity: 0;
      transition: opacity .3s ease-in-out; }
    .page-wrap .form-container.removed {
      display: none; }
    .page-wrap .form-container .instructions {
      font-family: 'Merriweather';
      color: #575859;
      line-height: 25px; }

form label {
  color: #575859;
  font-family: 'Merriweather', sans-serif; }

form input {
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #efefef;
  padding: 10px;
  margin: 20px 0 0 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #575859;
  line-height: 18px;
  letter-spacing: .07em; }

form textarea {
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #efefef;
  padding: 10px;
  margin: 10px 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #575859;
  line-height: 18px;
  letter-spacing: .07em; }

form input:focus, form textarea:focus {
  border-color: #61d26a;
  box-shadow: 0 0 10px #61d26a; }

button {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #61d26a;
  cursor: pointer;
  color: #61d26a;
  font-size: 14px;
  outline: none;
  background: #fff; }
  button:hover {
    color: #fff;
    background: #61d26a; }

.canvas {
  z-index: 0;
  width: 100%;
  height: 100%; }
  .canvas.hidden {
    display: none; }
  .canvas .legend {
    text-align: center;
    background: #fff;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 40px;
    border: 1px solid #efefef;
    border-radius: 10px;
    box-shadow: 0px 4px 10px -8px rgba(0, 0, 0, 0.75); }
    .canvas .legend .legend-label {
      font-family: 'Lato'; }
    .canvas .legend .legend-col {
      width: 10px;
      height: 10px;
      margin-left: 40px; }
    .canvas .legend .legend-label, .canvas .legend .legend-col {
      display: inline-block; }
  .canvas .data-table {
    width: 80%;
    margin: 0 auto; }
    .canvas .data-table .row {
      box-sizing: border-box;
      display: flex;
      width: 100%;
      padding: 26px;
      font-size: 18px;
      font-family: 'Lato', sans-serif;
      border-bottom: 1px solid #efefef; }
      .canvas .data-table .row .cell {
        width: 35%;
        text-align: center; }
      .canvas .data-table .row .metric-label {
        width: 30%;
        font-size: 11px; }
  .canvas svg .time-label {
    font-family: 'Lato';
    font-size: 11px; }
